* {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:antiquewhite ;
}
.container {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 300px;
  border: 2px solid black;
  height: 400px;
  background-color: black;
  text-align: center;
}

.keypad {
  display: flex;
  flex-direction: column;
}

button {
  width: 68px;
  height: 51px;
  margin: 3px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.141);
  border: 1px solid white;
  color: white;
  box-shadow: 2px 2px ;
}

button:hover{
  cursor: pointer;
}

input[type="text"] {
  height: 101px;
  width: 287px;
  font-size: 30px;
  padding: 5px;
}

h1{
  margin: 50px;
  font-size: 30px;
  border-bottom:2px solid blue ;
}

input:focus,
input:active{
  outline: none;
}
